In [1]:
import pandas as pd

dataset = pd.read_csv("iPhone.csv")
dataset

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [2]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:, 3].values

In [3]:
from sklearn.preprocessing import LabelEncoder

labelEncoder_gender =  LabelEncoder()

In [4]:
X[:,0] = labelEncoder_gender.fit_transform(X[:,0])

In [5]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [6]:
from sklearn.model_selection import cross_val_score

def cv_comparison_classification(models, X, y, cv):
    
    cv_df = pd.DataFrame()
    
    for model in models:
        
        acc = cross_val_score(model, X, y, scoring='accuracy', cv=cv)
        
        acc_avg = round(acc.mean(), 3)
        
        cv_df[str(model)] = [ acc_avg]
        cv_df.index = ['Accuracy']
        
    return cv_df

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

mlr_d = DecisionTreeClassifier(criterion = "entropy")

mlr_g = GaussianNB()

mlr_reg= LogisticRegression()

mlr_k = KNeighborsClassifier()

mlr_svc = svm.SVC(kernel='rbf')

models = [mlr_d, mlr_g, mlr_reg, mlr_k, mlr_svc]

comp_df = cv_comparison_classification(models, X, y, 5)

comp_df

,DecisionTreeClassifier(criterion='entropy'),GaussianNB(),LogisticRegression(),KNeighborsClassifier(),SVC()
Accuracy,0.798,0.888,0.82,0.882,0.9